body{
    background-color: lightblue;
}
.texto {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;

}
.foto {
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-color: red;
    border-radius: 50%;
    margin: 60px;
}
.foto img {
    max-width: none;
    min-width: 250px;
    height: 250px;


}
.fotosarriba {
    display: flex;
    justify-content: space-evenly;
}


#barra {
    display: inline-flex;
}