body{
Background-color: lightblue;
height= 400px;
    display=flex;
    font-family:Arial  Sans-serif;

}
.texto {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;

}
.imgmarta {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}
.imginga {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.imgranju {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.imgana {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}