body{
    background-color: lightblue;
    margin: auto;
    font-family: "Century Gothic" "Arial", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter",
}
.header {
    background: #7aa1d2;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.logo {
    width: 90px;
    height: 50px;
}
.barra {
    display: flex;
    justify-content: flex-end;
}

.puntero {
    font-family: "Century Gothic";
    color: #FFF;
    text-decoration: none;
    padding: 21px 5px;
    font-size: 20px;
}
.puntero:hover {
    background-color: white;
    color: black;
}
.boton {
    font-size: 15px;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.texto {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
}
 .intro {
     font-weight: normal;
     font-style: normal;
     font-family: "Century Gothic";
 }
.foto {
    width: 250px;
    height: 250px;
    overflow: hidden;

    border-radius: 50%;
    margin:0 30px;
    display: flex;
}
.foto img {
    max-width: none;
    min-width: 250px;
    height: 250px;
    flex-wrap: wrap;
}
@media (min-width: 100px) {
    .foto.img {
        border-radius: 30px;
    }

}
.equipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.miembro {
    padding: 0 30px;
}
.gitlogo {
    width: 30px;
    height: 30px;
}
.logolink1 {
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
}