body{
    background-color: lightblue;
    margin: auto;
    font-family: "Century Gothic", "Arial", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter";
}
.header {
    background: #7aa1d2;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.logo {
    width: 90px;
    height: 50px;
}
.barra {
    display: flex;
    justify-content: flex-end;
}

.puntero {
    font-family: "Century Gothic";
    color: #FFF;
    text-decoration: none;
    padding: 21px 5px;
    font-size: 20px;
}
.puntero:hover {
    background-color: white;
    color: black;
}
.boton {
    font-size: 15px;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.intro {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
}
.banner {
    width: 100%;
    position: relative;
    text-align: center;
    color: lightblue;
}
.wellcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 50px;
}

.banner img {
    width: 100%;
    object-fit: cover;


}
.imgservicios {
    width: 150px;
    height: 100px;
    overflow: hidden;
    margin:0 30px;
    display: flex;
    float: left;

}
.servicios {
    font-family: "Century Gothic";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
ul {
    list-style: none;
}
.subservicios {
    border: 5px solid darkblue;
    margin: 15px 60px;
    padding: 10px;
    width: 480px;
}
